*.log
/.venv
/.idea
/specs_preprocessed
.DS_Store
__pycache__/

# Generated SDKs
/sdks/python/generated

# Configuration files
.actrc
openapitools.json
/sdk-blueprints/python/config_expanded.yaml

# Directory for local debugging
/sdk-generation-test

# Ignore vscode settings
/.vscode