*.log
/.venv
/.idea
/specs_preprocessed

# Generated SDKs
/sdks/python/generated

# Configuration files
.actrc
openapitools.json
/sdk-blueprints/python/config_expanded.yaml

# Directory for local debugging
/sdk-generation-test