"""
{{#appName}}
    {{{.}}}

{{/appName}}
{{#appDescription}}
    {{{.}}}

{{/appDescription}}
    {{#version}}
    The version of the OpenAPI document: {{{.}}}
    {{/version}}
    {{#infoEmail}}
    Contact: {{{.}}}
    {{/infoEmail}}

    Please note that this SDK is currently in beta.
    Functionality and behavior may change in future releases.
    We encourage you to provide feedback and report any issues encountered during your use.
"""  # noqa: E501
