name: Generate Python SDK

on:
  workflow_call:
    inputs:
      version_postfix:
        description: 'Additional version postfix for the SDK'
        required: false
        type: string
        default: ''
      python_sdk_pr_base_branch:
        description: 'The base branch for the Python SDK PR'
        required: true
        type: string
        default: 'main'

env:
  SPEC_DIR: ${{ github.workspace }}/specs_preprocessed
  PYTHON_DIR: ${{ github.workspace }}/sdk-blueprints/python

jobs:
  generate-python-sdk:
    name: Generate Python SDK
    runs-on: ubuntu-22.04
    env:
      PACKAGE_DIR: ${{ github.workspace }}/specs_preprocessed
      SDK_REPO_DIR: ${{ github.workspace }}/sdk-blueprints/generated

    steps:
      - name: Set up Corretto JDK 11
        uses: actions/setup-java@v4
        with:
            java-version: '11'
            distribution: 'corretto'

      - name: Set up Python versions
        uses: actions/setup-python@v5.2.0
        with:
          python-version: |
            3.8

      - name: Install openapi-generator-cli and tox
        run: |
          npm install @openapitools/openapi-generator-cli -g
          pip install tox

      - name: Checkout workflow repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.ref }}

      - name: Download openapi specifications artifact
        uses: actions/download-artifact@v4
        with:
          name: processed-specs-${{ github.ref_name }}
          path: ${{ env.SPEC_DIR }}

      - name: Create a token
        id: create-token
        uses: actions/create-github-app-token@v1
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
          owner: ${{ github.repository_owner }}
          repositories: python-sdk

      - name: Checkout Python SDK repository
        uses: actions/checkout@v4
        with:
          repository: visier/python-sdk
          token: ${{ steps.create-token.outputs.token }}
          path: ${{ env.SDK_REPO_DIR }}
          persist-credentials: false
          ref: ${{ inputs.python_sdk_pr_base_branch }}

      - name: Create locale Python SDK branch
        env:
          GITHUB_TOKEN: ${{ steps.create-token.outputs.token }}
        run: |
          cd $SDK_REPO_DIR
          git checkout -b ${{ github.ref_name }}

      - name: Generate Python SDK for all specifications
        shell: bash
        run: |
          chmod +x ${{ github.workspace }}/sdk-blueprints/python/generate-all.sh
          chmod +x ${{ github.workspace }}/sdk-blueprints/python/generate-package.sh
          ${{ github.workspace }}/sdk-blueprints/python/generate-all.sh "$SDK_REPO_DIR/src/" "$SPEC_DIR" "${{ inputs.version_postfix }}"

      # Pushing before tests to have the code available for debugging
      - name: Push Python SDK branch
        env:
          GITHUB_TOKEN: ${{ steps.create-token.outputs.token }}
        shell: bash
        run: |
          cd $SDK_REPO_DIR
          git config user.name "Visier-Build-Team"
          git config user.email "action@github.com"
          git remote set-url origin https://x-access-token:${GITHUB_TOKEN}@github.com/visier/python-sdk.git
          git add .
          git commit -m "Autogenerated Python SDK"
          git push origin ${{ github.ref_name }}

      - name: Run tests
        shell: bash
        run: |
          chmod +x ${{ github.workspace }}/sdk-blueprints/python/run-tests.sh
          ${{ github.workspace }}/sdk-blueprints/python/run-tests.sh "$SDK_REPO_DIR/src/"

      - name: Create Pull Request for python-sdk
        shell: bash
        env:
          GH_TOKEN: ${{ steps.create-token.outputs.token }}
        run: |
          cd $SDK_REPO_DIR
          gh pr create \
            --title "Auto-generated SDK ${{ github.ref_name }}" \
            --body "This PR includes the autogenerated SDKs." \
            --head "${{ github.ref_name }}" \
            --base "${{ inputs.python_sdk_pr_base_branch }}"