name: Publish JSON package

on: [push]

jobs:
    build-json-archive:
        name: Generate and package JSON files
        runs-on: ubuntu-latest
        permissions:
            contents: write
        steps:
            - uses: actions/checkout@v4
            - name: Target directory
              run: mkdir json
            - name: Transform to JSON
              run: for f in res/*.yaml; do fn=${f##*/}; yq -o json < $f > json/${fn%.*}.json; done
            - name: Make a release archive
              run: tar -czf ${{ github.ref_name }}.tar.gz json/
            - name: Create release and upload
              uses: ncipollo/release-action@v1
              with:
                artifacts: ${{ github.ref_name }}.tar.gz
                tag: ${{ github.ref_name }}
                omitBody: true